@import 'colors';
@import 'mixins';
@import 'animate';
body {
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}
.section1 {
    min-height: 100%;
    background: url(../img/bodybg.png);   
    position: relative;
    z-index: 1;
}
.section1::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #edf1fd83;
    z-index: -1;
}
.navbar {
    align-items: center;
    .navbar-brand {
        @include link (#ff013d,20px,600);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    ul  {
        li {
            a {
               @include link (#a6acc1, 15px, 500);
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               position: relative;
               &::after {
                   content: '';
                   position: absolute;
                   bottom: -7px;
                   left: 4px;
                   height: 2px;
                   width: 0;
                   background-color: $main;
               }
               &:hover,&.active {
                   transition: 0.4s;
                   color: $main;
                   &::after {
                       width: 85%;
                       transition: 0.4s;
                   }
               }
            }
           
        }
    }
    .div { 
        justify-content: space-between;
    }
   .navbar-toggler:focus {
       outline: 1px solid black;
    }
}
.row {
    .col-xl-5 {
        img {
            object-fit: cover;
        }
    }
    .col-12 {
        .about {
            font-size: 40px;
            color: #3d4354;
            font-family: sans-serif;
            font-weight: 600;
        }
        .btn {
            margin-top: 20px;
        }
        .buttons {
            margin-left: 80px;
            background-color: #3e4356;
        }
        .d-flex {
            margin-left: -78px;
            margin-top: 70px;
            list-style: none; 
            li {
                margin-left: 10px;
            }
            a {
                text-decoration: none;
                color:#3e4356;
            }
            a:hover {
                @include link (#ff013d,default,default);
            }
        }
        button {
            @include button ( #ff013d,white);
            border-radius: 0;
            border: transparent;
            padding: 7px 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            &:focus {
                box-shadow: none;
            }
        }
      
        p {
            color: #a6acc1;
        }
       

            
        }
    }

.skill{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.skill__container{
    flex: 1;
    .progress-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        div {
            font-size: 20px;
            color: #1e1e1e;
        }
    }
}   

.rotate {
    margin-top: 70px;
    transform: rotate(-90deg);
    font-size: 30px !important;
}
.bg-secondary {
    background:#3e4356 !important ;
}
.card  {
    width: 18rem !important;
}
.next {
    margin-top: 60px;
    padding: 100px 0;
}


.next {
    .expertise {
        position: relative;
        bottom: 50px;
        h1 {
            font-size: 40px;
            color: #3d4354;
        }
    }
}
.slider {
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .card {
        margin: 10px;
        outline: none;
        color: #8d919d;
        background: $card-bg;
        border-radius: 0 !important;
        cursor: pointer;
        border:  2px solid $border-color;
        &:hover {
            box-shadow:  0px 3px 12px  rgba(0,0,0,0.2);
            transform: translate(0,-5px);
            .icon ,.card-title {
                color: $main;
            }
            .card-text {
                color: black;
            }
        }
        .icon {
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 34px;
            color: #878ca7;
        }
        .card-title {
            font-size: 17px;
    text-align: center;
        }
    }
}
.container {
    // padding: 0 30px;
    justify-content: space-around;
}
.expertise {
    text-align: center;
    h1 {
        font-size: 35px;
    }
}
.center {
    padding: 0 190px;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 80% !important;
    }
    .center{
        text-align: center;
        padding:10px 60px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
.title {
    font-size: 25px;
    text-align: center;
}
.heading {
    text-align: center;
    color: $dark;
    position: relative;
    bottom: 50px;
 
}
.p-5 {
    justify-content: center;
    .card {
        width: 90% !important;
        background: #edf1ff;
        border: 0px solid $border-color;
        border-radius: 0;
        margin-top: 20px;
        .card-title {
            font-size: 18px;
        }
        &:hover {
        box-shadow:  2px 8px 20px  rgba(0,0,0,0.2);
        transform: translate(0,-2px);
        cursor: pointer;
        .card-text {
            color: black;
        }
       }
    }
}
.news-section {
    padding: 100px 0;
    .heading {
        margin-bottom: 15px;
        h1 {
        font-size: 40px;
        color: $dark;
        }
    }
    .row {
        justify-content: center;
    }
    .card {
     padding: 0;
     margin: 0 22px;
     cursor: pointer;
     margin-bottom: 10px;
     &:hover {
        box-shadow:  2px 8px 20px  rgba(0,0,0,0.2);
        transform: translate(0,-2px);
     }
        .transform {
            width: 43%;
            transform: rotate(
        270deg
        );
            background: hsl(228deg 16% 29%);
            color: white;
            height: 31px;
            text-align: center;
            position: relative;
            bottom: 63px;
            right: 30px;
            font-size: 14px;
            line-height: 31px;
            font-family: -webkit-pictograph;
        }
    }
    .card-link {
        text-decoration: none;
        color: $dark;
        position: relative;
        i {
           position: absolute;
           z-index: -1;
           right: -10px;
           top: 5px;
           transition: 0.5s;
        }
        &:hover  {
              color: $main;

          i {
                z-index: 1;
                right: -25px;
            transition: 0.5s;
            }
           
        }
    }
}
.section-idea {
    text-align: center;
    padding: 100px 0;
    .hire {
        h4 {
            font-size: 23px;
            position: relative;
            bottom: 20px;
            color: #424758;
        }
        h3 {
            font-size: 50px;
            font-family: sans-serif;
            font-weight: lighter;
            color: #424758;
        }
    }
    .btn-secondary {
        margin-top: 12px;
        padding: 6px 22px;
        border-radius: 0px;
        font-size: 12px;
        align-items: center;
    }
}

.info {
    height: 300px;
    .motto {
        padding: 170px 0;
        margin-left: 100px;
        h3 {
            font-size: 25px;
             font-family: sans-serif;
             color: $text-color;
             text-shadow: 0px 0px 2px #7f85a0;
             .bi {
                 left: 60px;
                 top: 3px;
                 position: relative;
                 animation-name: arrow-right;
                 animation-duration:2s ;
                //  animation-delay: 1s;
                 animation-iteration-count: infinite;
                 @keyframes arrow-right {
                    from {
                      display: none;
                      left: 50px;
                      top: 3px;
                    }
                    to {
                        position: absolute;
                        left: 150px;
                        top: 3px;
                    }
                }
             }
          
             span {
                 color: black;
                 position: relative;
                 &::after {
                     content: '';
                     height: 2px;
                     width: 30px;
                     background: $text-color;
                     position: absolute;
                     left: 190px;
                     top: 16px;;
                 }
             }

        }
    }
    
}
.contact-section {
    // height: 350px;
    .grid {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .list-head {
        list-style: none;
        .list-items {
           margin-bottom: 4px;
           position: relative;
           color: #80848f;
           cursor: pointer;
           &::before {
            content: '';
            height: 2px;
            width: 15px;
            background: #80848f;
            position: absolute;
            top: 12px;
            left: -20px;
          }
          &:hover ,&::before {
            color: black;
        }
      }
    }
}

.container {
   
    .form-element {
        width: 380px;
        background: hsl(230deg 75% 98%);
        box-shadow: 0px 4px 35px hsl(228deg 71% 89%);
        margin: auto;
        transform: translateY(-50%);
        .form {    
            padding: 40px 45px;
            label {
                color: #7f85a0;
            }
        }
        .form-label {
            position: relative;
            left: 11px;
            top: 10px;
        }
        .button {
            display: flex;
            justify-content: flex-end;
                .bubbly-button{
                    font-family: 'Helvetica', 'Arial', sans-serif;
                    display: inline-block;
                    font-size: 1em;
                    border-radius: 0;
                    padding: 8px 25px;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: $button-bg;
                    color: $button-text-color;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
                    box-shadow: 0 2px 25px #3e4356;
                    
                    &:focus {
                      outline: 0;
                    }
                    
                    &:before, &:after{
                      position: absolute;
                      content: '';
                      display: block;
                      width: 140%;
                      height: 100%;
                      left: -20%;
                      z-index: -1000;
                      transition: all ease-in-out 0.5s;
                      background-repeat: no-repeat;
                    }
                    
                    &:before{
                      display: none;
                      top: -75%;
                      background-image:  
                        radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%), 
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%);
                    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
                    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
                    }
                    
                    &:after{
                      display: none;
                      bottom: -75%;
                      background-image:  
                      radial-gradient(circle, $button-bg 20%, transparent 20%), 
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%),
                      radial-gradient(circle, $button-bg 20%, transparent 20%);
                    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
                    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
                    }
                   
                    &:active{
                      transform: scale(0.9);
                      background-color: darken($button-bg, 5%);
                      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
                    }
                    
                    &.animate{
                      &:before{
                        display: block;
                        animation: topBubbles ease-in-out 0.75s forwards;
                      }
                      &:after{
                        display: block;
                        animation: bottomBubbles ease-in-out 0.75s forwards;
                      }
                    }
                  }
                  
                  
                  @keyframes topBubbles {
                    0%{
                      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
                    }
                      50% {
                        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
                   100% {
                      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
                    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
                    }
                  }
                  
                  @keyframes bottomBubbles {
                    0%{
                      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
                    }
                    50% {
                      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
                   100% {
                      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
                    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
                    }
                  }

            }
        }
    }
    
    .form-control {
        border: none;
        background: transparent;
        border-bottom: 1px solid;
        border-radius: 0px;
        border-color: hsl(226deg 18% 71%);
        &:focus {
        box-shadow: none;
        background: transparent ;
        }
    }
  
    
    footer {
        text-align: center;
    }
    @media only screen and (max-width:768px){
      
        #resume {
            .title{
                margin: 15px 0;
            }
            .card {
                margin-bottom: 20px;
                align-items: center;
            }
        }
        .news-section {
            .card {
                margin-bottom: 20px;
            }
        }
        .next {
            .expertise {
                padding: 40px;
            }
        }
        .container {
            .list-head {
                margin-top: 50px;
            }
            .form-element {
                transform: translateY(0);
                width: 100%;
                box-shadow: none;
            }
        }
        .info {
            .col-12 {
               padding: 50px;
               margin: 30px 0;
            }
        }
    }
  